.App {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.header {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dropDown {
  position: absolute;
  top: 30px;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  display: flex;
  padding: 10px 20px;
  background-color: rgb(225, 225, 225);
  border-radius: 10px;
}

.themeList {
  position: relative;
  list-style: none;
}

.themeItem {
  position: relative;
  display: flex;
  margin: 10px;
  border-radius: 10px;
  z-index: 100;
  cursor: pointer;
}

.themeItem > span {
  padding: 10px;
}
.leftThemeItem {
  border-radius: 10px 0 0 10px;
  padding: 0px 15px;
}
.rightThemeItem {
  border-radius: 0 10px 10px 0;
  padding: 0px 15px;
}

.settingsBtn {
  border: none;
  background: transparent;
  font-size: 1.7rem;
  cursor: pointer;
}
